
{% extends "busca_lab/layout.html" %}

{% block body %}
    <h1>BuscaLab</h1>
    <br>
    <form action="{% url 'buscalab:login' %}" method="post" style="display: flex; flex-flow: column nowrap; width: 50%; gap: 10px;">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Login">
        <input type="password" name="password" placeholder="Senha">
        {% if message %}
            <p style="color: red; margin: 0px;">{{message}}</p>
        {% endif %}
        <input type="submit" value="Login">
        
    </form>


{% endblock %}